*{box-sizing: border-box;}
.container{
	width: 900px;
	margin: auto;
}
header{
	font-size: 25px;
	/* border:0.5px solid gray; */
	border-bottom: 3px solid gray;
	color : navy;
}
#title{
	padding-left: 1cm;
}
#subtitle{border-top: 1px solid gray;
padding-top: 5mm;
color: navy;
text-align: center;
}
nav{
	float: left;
	width: 180px;
	height: 850px;
	font-size: 13px;
	border-right: 2px solid gray;
}
a{
	text-decoration:none;
}
.team{
color: black;
}

#hof{font-size: 18px;
	text-align: center;
padding-right: none;
background-color: red;
color: goldenrod;
display: inline-block;
transition:transform 1s;}
#hof:active{transform:translateY(100px);}

article{
	float: left ;
	width: 715px;
	height: 850px;
}
#LCKimg1{
	display: block;
	margin: 0px auto;
	width: 8cm;
	height: 6cm;
	padding:15px;
}
.ift{ border-top: 0.5px solid gray;
	border-bottom: 0.5px solid gray;
	padding-top:  5px;
	padding-bottom: 5px;
	padding-left: 5cm;
	height: auto;
}

.LC{
	border-bottom: 0.5px solid gray;
	text-align: center;
	height: 0.75cm;
	padding-top: 1mm;
}
.loster{
	width: 358px;
	border-bottom:0.5px solid gray;
	border-right: 0.5px solid gray;
	
	float: left;
	height: 4.7cm;
	margin: none;
}
.career{
	width: 357px;
	border-bottom: 0.5px solid gray;

	float: right;
	height: 4.7cm;
	margin: none;
}
#text{
	float: left;
	padding-left: 15px;
	font-size: 13px;
}
#plusi{
	padding-left: 3mm;
	font-size: 13px;
}


